<h1>Update the appointment:</h1>

<form action="/appointments/<%= @appointment.id %>" method="post" id="app-edit-form">
    <input type="hidden" name="_method" value="patch" />
    <div class="mb-1 row">
        <div class="col-md-1">
            <label for="datetime">Datetime</label>
        </div>
        <div class="col-md-6">
            <input type="datetime" name="appointment[datetime]" class="form-control-md" id="datetime" value="<%=@appointment.datetime %>" />
        </div>
    </div>
    <div class="mb-1 row">
        <div class="col-md-1">
            <label for="location">Location</label>
        </div>
        <div class="col-md-5">
            <input type="text" name="appointment[location]" class="form-control-md" id="location" value="<%=@appointment.location %>" />
        </div>
    </div>
    <div class="mb-1 row">
        <div class="col-md-1">
            <label for="physician_id">Physician</label>
        </div>
        <div class="col-md-5">
            <select type="dropdown" name="appointment[physician_id]" class="form-control-md">
                <% Physician.select(:name, :id).each do |physician| %>
                    <option value="<%= physician.id%>" <%= "selected" if physician == @appointment.physician %>><%= physician.name%></option>
                     <!-- #input type="checkbox" name="appointment[physician_id]" id="<%= @appointment.id %>" value="<%= physician.id %>" <%='checked' if physician == @appointment.physician %> ><%= physician.name %> -->
                    <!-- input type="radio" name="appointment[physician_id]" id="<%= @appointment.id %>" value="<%= physician.id %>" <%='checked' if physician == @appointment.physician %>><%= physician.name %> -->
                <% end %>
            </select>
        </div>
    </div>
    <input type="submit" value="Update" class="form-control-sm"/>
    <input type="hidden" name="appointment[patient_id]" value="1"/><br>
</form>