<h1>Edit appointment: </h1>

<form action="/appointments/<%= @appointment.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="mb-1 row">
        <div class="col-md-1">
            <label for="datetime">Datetime</label>
        </div>
        <div class="col-md-6">
            <input type="datetime" name="appointment[datetime]" id="datetime" value="<%= @appointment.datetime %>" required/><br>
        </div>
    </div>
    <div class="mb-1 row">
        <div class="col-md-1">
            <label for="datetime">Location</label>
        </div>
        <div class="col-md-6">
            <input type="text" name="appointment[location]" id="location" value="<%= @appointment.location %>" required/><br>
        </div>
    </div>
    <div class="mb-1 row">
        <div class="col-md-1">
            <label for="datetime">Physician</label>
        </div>
        <div class="col-md-6">
        <select type="dropdown" name="appointment[physician_id]" required>
            <option value="" disabled selected>Select Physician</option>
            <% Physician.select(:name, :id).each do |ph|%>
                <option value="<%= ph.id %>" id="<%= ph.id %>" <%= "selected" if @appointment.physician == ph %> ><%= ph.name %></option>
            <% end %>
        </select>
        </div>
    </div>
    <input type="hidden" name="appointment[patient_id]" value="1"/>
    <input type="submit" class="btn btn-success" value="Update" />
</form>